.scrollTextSection {
  height: 350vh;
  position: relative;
  background-color: #000;
}

.stickyWrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 20vh;
  padding-top: 5vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 26vh;
}

@media only screen and (max-width: 768px) {
  .textContainer {
    margin-top: 0.6rem;
  }
}

.revealLine {
  font-size: clamp(1.5rem, 8vw, 5rem);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;
  line-height: 0.8;
  white-space: normal;
  word-wrap: break-word;

  background: linear-gradient(
    to right,
    #ff8c00 var(--line-progress, 0%),
    #333 var(--line-progress, 0%)
  );
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* filter: drop-shadow(0 0 calc(var(--line-opacity, 0) * 15px) rgba(255, 140, 0, 0.6)); */
}

@media (max-width: 768px) {
  .textContainer {
    gap: 0.5rem;
  }
  
  .revealLine {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}