.scrollTextSection {
  position: relative;
  height: 300vh;
  background: #111;
  overflow-x: clip;
}

.stickyWrapper {
  position: sticky;
  min-height: 100vh;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 50px;

  pointer-events: none;
}

.revealLine {
  max-width: 100%;
  padding: 0 20px;

  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  transform: translate3d(0, 20px, 0);
  padding: 0 20px;

  background: linear-gradient(to right,
      #ff8c00 var(--line-progress, 0%),
      #333 var(--line-progress, 0%));

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  will-change: background-image;

}

@media screen and (max-width: 768px) {
  .textContainer {
    margin-top: 0px;
  }

  .textContainer {
    gap: 0.5rem;
  }

  .textContainer {
    font-size: 2.8rem;
    line-height: 1.3;
  }

  .stickyWrapper {
    padding-top: 0px !important;
  }
}